src/scripts/
src/styles/main.css
benchmarks/libs/
benchmarks/scripts/
specs/
references/lucifer/obj/
*.depend
*.layout
references/lucifer-outerbridge/bin/
references/lucifer-outerbridge/obj/
*.pyc
references/speckpy/
references/Skein/
