src/scripts/
src/styles/main.css
benchmarks/libs/
benchmarks/scripts/
specs/
references/private-*/**
references/**/bin/
references/**/obj/
*.depend
*.layout
*.pyc
vectors/transforms.js.map
vectors/transforms.js
