$back-color 					: #303030;
$text-color 					: #ffffff;

$editor-back-color				: #505050;
$editor-text-color 				: #f0f0f0;
$grid-color 					: #585858;

$toolbar-back-color 			: #ffffff;
$toolbar-text-color 			: #303030;
$toolbar-hover-color 			: #d0d0d0;

$panel-back-color 				: #303030;
$panel-text-color				: #ffffff;

$node-back-color 				: #303030;
$node-text-color 				: #ffffff;
$node-border-color 				: #606060;
$node-header-back-color 		: #f0f0f0;
$node-header-text-color 		: #303030;
$node-header-selected-back-color: #f0c040;
$node-header-error-back-color 	: #800000;
$node-header-error-text-color 	: #f0f0f0;

$socket-back-color 				: $node-back-color;
$socket-border-color 			: $node-border-color;
$socket-selected-back-color		: #f0f0f0;
$socket-hover-border-color 		: #80f040;
$socket-open-border-color 		: #40a020;

$node-border-width 				: 2px;
$socket-border-width 			: $node-border-width;
$socket-size 					: 10px;
$socket-radius 					: $socket-size / 2 + $node-border-width;
$node-border-radius 			: 5px;
$node-close-width 				: 20px;
$standard-padding 				: 10px;
$half-padding					: 5px;
$standard-font-size 			: 14px;
$palette-font-size 				: 12px;
$content-font-size 				: 12px;

$colors 						:
	red			#f44336,
	pink		#e91e63,
	purple 		#9c27b0,
	deep-purple	#673ab7,
	indigo		#3f51b5,
	blue 		#2196f3,
	light-blue	#03a9f4,
	cyan		#00bcd4,
	teal 		#009688,
	green		#4caf50,
	light-green	#8bc45a,
	lime		#cddc39,
	yellow		#ffeb3b,
	amber		#ffc107,
	orange 		#ff9800,
	deep-orange #ff5722,
	brown		#795548,
	grey 		#9e9e9e,
	blue-grey	#607d8b
	;

@mixin minimal-scrollbar()
{
	// WebKit/Blink:
	&::-webkit-scrollbar
	{
		width: 6px;
		background: #282828;
		//width: 5px;
	}

	&::-webkit-scrollbar-thumb
	{
		background: #606060;
		border-radius: 4px;
	}

	
	// Edge:
	-ms-overflow-style: none;
}

html, body
{
	height: 100%;
}

body
{
	font: $standard-font-size "Open Sans", Helvetica, Arial, sans-serif;
	background: $editor-back-color;
	color: $editor-text-color;
	display: flex;
	flex-direction: column;
}

body, h1, h2, h3, h4, h5, h6, ul, li
{
	margin: 0;
	padding: 0;
}

ul
{
	list-style-type: none;
}

header
{
	background: #f0f0f0;
	color: #303030;
	flex: 0 1 auto;
}

h1
{
	padding: $half-padding;
	font-size: 16px;
}

#toolbar
{
	background: $toolbar-back-color;
	color: $toolbar-text-color;
	display: flex;
	flex-direction: row;

	li
	{
		display: block;
		flex: 0 1 auto;
	}

	a
	{
		background: $toolbar-back-color;
		color: $toolbar-text-color;
		text-decoration: none;
		display: block;
		padding: $standard-padding;

		transition: background-color 0.4s;

		&:hover
		{
			background: $toolbar-hover-color;
		}
	}
}

main
{
	flex: 1;
	display: flex;
	min-height: 0; // Don't expand to fit content
}

main > section
{
	width: 0;
}

#palette, #properties
{
	background: $panel-back-color;
	color: $panel-text-color;

	h1
	{
		padding: $half-padding 0;
		font-size: $standard-font-size;
	}
}

#palette
{
	flex: 0 0 200px;
	overflow-y: auto;
	user-select: none;
	@include minimal-scrollbar();
}

#properties
{
	flex: 0 0 350px;
}

#workarea
{
	flex: 1 1 auto;
	position: relative;
	overflow: hidden;
}

#nodes
{
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	background-color: $editor-back-color;
	background-size: 60px 60px;
	background-position: 50% 50%;
	background-image: linear-gradient(to right, $grid-color 1px, transparent 2px), linear-gradient(to bottom, $grid-color 1px, transparent 2px);

	svg
	{
	  pointer-events: none;
	  position:absolute;
	  top:0px;
	  left:0px;
	  width:100%;
	  height:100%;
	  overflow: visible;
	}
}

.node
{
	width: 200px;
	height: 150px;

	user-select: none;

	border: $node-border-width solid $node-border-color;
	border-radius: $node-border-radius;
	background: $node-back-color;
	color: $node-text-color;
	position: absolute;
	z-index: 1;

	&.selected
	{
		h2
		{
			background: $node-header-selected-back-color;
		}
	}

	&.error
	{
		h2
		{
			background: $node-header-error-back-color;
			color: $node-header-error-text-color;
		}
	}

	h2
	{
		font-size: $standard-font-size;
		text-align: center;
		display: block;
		border-radius: ($node-border-radius - 2) ($node-border-radius - 2) 0 0;
		background: $node-header-back-color;
		color: $node-header-text-color;
		padding-right: $node-close-width;
		font-weight: bold;
		cursor: default;
	}

	a.close
	{
		// If we need more buttons, this block can be shared amongst them
		display: block;
		position: absolute;
		padding: 1px $half-padding;
		font-weight: bold;
		font-size: 16px;
		text-decoration: none;
		line-height: 1;

		top: 0;
		right: 0;

		color: $node-header-text-color;

		&::before
		{
			content: "×";
		}
	}

	a.copy
	{
		bottom: 0;
		right: 0;

		color: $text-color;

		&::before
		{
			content: "C";
		}
	}

	.inputs, .outputs
	{
		position: absolute;
		top: 30px;
	}

	.inputs
	{
		left: -$socket-radius;
	}

	.outputs
	{
		right: -$socket-radius;
	}

	.input, .output
	{
		width: $socket-size;
		height: $socket-size;
		border-radius: $socket-radius;
		border: $socket-border-width solid $socket-border-color;
		cursor: pointer;
		margin-bottom: $half-padding;
		background: #ffffff;

		transition: opacity 0.2s, border-color 0.2s;
	
		&.empty
		{
			background: $socket-back-color;
		}
		&.selected
		{
			background: $socket-selected-back-color;
		}
	}

	.output
	{
		text-align: right;
	}

	.content
	{
		padding: $standard-padding $standard-padding * 2;
		font: $content-font-size Consolas;
		word-wrap: break-word;
		overflow: hidden;
		height: 100px;
	}
}

.wiring
{
	.input, .output
	{
		cursor: default;

		&.target
		{
			border-color: $socket-open-border-color;
			opacity: 1;
			cursor: pointer;

			&:hover
			{
				border-color: $socket-hover-border-color;
			}
		}

		&:not(.target):not(.selected)
		{
			opacity: 0;
		}
	}
}

.panning
{
	cursor: grabbing;
}

#palette
{
	padding: $standard-padding;
	font-size: $palette-font-size;

	li
	{
		padding-left: $half-padding;
	}

	a
	{
		color: #c0c0c0;
		text-decoration: none;
	}
}

#properties
{
	padding: $standard-padding;

	textarea
	{
		display: block;
		width: 100%;
		max-width: 100%;
		height: 100px;
	}

	h1
	{
		color: #a0a0a0;
		margin-bottom: $half-padding;

		span
		{
			color: $text-color;
		}
	}

	> div > div
	{
		margin-bottom: $half-padding;
	}

	label
	{
		display: inline-block;
		min-width: 120px;
		padding-right: 10px;
	}

	input
	{
		box-sizing: border-box;
		margin: 0;
	}

	textarea
	{
		font: $content-font-size Consolas;
	}

	.output-properties textarea
	{
		border: 0;
		background: #c0c0c0;
		color: #303030;
	}
}

#test-input
{
	width: 100%;
	height: 100px;
}
